## Otto Group Product Classification Challenge
세계 최대의 전자상거래 회사 중 하나인 Otto Group에서 주최하는 Otto Group Product Classification Challenge 입니다.

Otto Group은 익명화(anonymization)된 상품 정보에 대한 데이터를 제공하는데, 경진대회 참석자는 이 데이터를 활용하여 주어진 상품 카테고리(target)를 예측해야 합니다. 상품 카테고리는 Class_1부터 Class_9까지 총 9개가 있습니다. 주어진 데이터를 머신러닝을 활용하여 예측해보도록 하겠습니다.

In [4]:
import pandas as pd

## Load Dataset

In [5]:
train = pd.read_csv('data/train.csv',index_col='id')

print(train.shape)
train.head()

(61878, 94)

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
id,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
4,1,0,0,1,6,1,5,0,0,1,...,0,1,2,0,0,0,0,0,0,Class_1
5,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [6]:
test = pd.read_csv('data/test.csv', index_col='id')

print(test.shape)
test.head()

(144368, 93)

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,3,...,0,0,11,1,20,0,0,0,0,0
2,2,2,14,16,0,0,0,0,0,0,...,0,0,0,0,0,4,0,0,2,0
3,0,1,12,1,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,3,1,0,0,0,0,0,0,0
5,1,0,0,1,0,0,1,2,0,3,...,0,0,0,0,0,0,0,9,0,0

## Train

In [7]:
label_name = "target"
feature_names = train.columns.difference([label_name])

feature_names

Index(['feat_1', 'feat_10', 'feat_11', 'feat_12', 'feat_13', 'feat_14',
       'feat_15', 'feat_16', 'feat_17', 'feat_18', 'feat_19', 'feat_2',
       'feat_20', 'feat_21', 'feat_22', 'feat_23', 'feat_24', 'feat_25',
       'feat_26', 'feat_27', 'feat_28', 'feat_29', 'feat_3', 'feat_30',
       'feat_31', 'feat_32', 'feat_33', 'feat_34', 'feat_35', 'feat_36',
       'feat_37', 'feat_38', 'feat_39', 'feat_4', 'feat_40', 'feat_41',
       'feat_42', 'feat_43', 'feat_44', 'feat_45', 'feat_46', 'feat_47',
       'feat_48', 'feat_49', 'feat_5', 'feat_50', 'feat_51', 'feat_52',
       'feat_53', 'feat_54', 'feat_55', 'feat_56', 'feat_57', 'feat_58',
       'feat_59', 'feat_6', 'feat_60', 'feat_61', 'feat_62', 'feat_63',
       'feat_64', 'feat_65', 'feat_66', 'feat_67', 'feat_68', 'feat_69',
       'feat_7', 'feat_70', 'feat_71', 'feat_72', 'feat_73', 'feat_74',
       'feat_75', 'feat_76', 'feat_77', 'feat_78', 'feat_79', 'feat_8',
       'feat_80', 'feat_81', 'feat_82', 'feat_83', 'feat_84', 'feat_85',
       'feat_86', 'feat_87', 'feat_88', 'feat_89', 'feat_9', 'feat_90',
       'feat_91', 'feat_92', 'feat_93'],
      dtype='object')

In [8]:
X_train = train[feature_names]

print(X_train.shape)
X_train.head()

(61878, 93)

,feat_1,feat_10,feat_11,feat_12,feat_13,feat_14,feat_15,feat_16,feat_17,feat_18,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_9,feat_90,feat_91,feat_92,feat_93
id,,,,,,,,,,,,,,,,,,,,,
1,1,0,1,0,0,0,0,0,2,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,0,1,0,0,1,1,0,...,0,1,2,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,4,0,...,1,0,0,0,0,0,1,0,0,0

In [9]:
X_test = test[feature_names]

print(X_test.shape)
X_test.head()

(144368, 93)

,feat_1,feat_10,feat_11,feat_12,feat_13,feat_14,feat_15,feat_16,feat_17,feat_18,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_9,feat_90,feat_91,feat_92,feat_93
id,,,,,,,,,,,,,,,,,,,,,
1,0,3,0,0,0,3,2,1,0,0,...,0,11,1,20,0,0,0,0,0,0
2,2,0,0,0,0,0,2,2,0,0,...,0,0,0,0,4,0,0,0,2,0
3,0,0,7,1,0,0,0,7,0,2,...,0,0,0,2,0,0,0,0,0,1
4,0,0,0,0,0,0,21,3,0,0,...,3,1,0,0,0,0,0,0,0,0
5,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,9,0,0

In [10]:
y_train = train[label_name]

print(y_train.shape)
y_train.head()

(61878,)

id
1    Class_1
2    Class_1
3    Class_1
4    Class_1
5    Class_1
Name: target, dtype: object

## Light GBM

GBM는 Decision Tree에 앙상블(Ensemble) 방식중 하나인 그래디언트 부스팅(Gradient Boosting)을 적용한 머신러닝 알고리즘입니다. 주어진 데이터셋으로 첫 번째 Decision Tree를 학습하고 첫 번째 Decision Tree의 예측값과 정답의 차이(residual, 잔차)를 구합니다. 이 residual를 예측하는 두 번째 Decision Tree를 학습하고 위의 Decision Tree의 결과와 그 다음의 Decision Tree의 결과를 합치면 원래 Decision Tree보다 조금 더 정답에 근접한 예측을 할 수 있다는 것이 GBM(gradient boosting machine)입니다. Light GBM은 Decision Tree, Random forest, GBM 등 모든 알고리즘을 파라메터화 하여 최적의 예측 모델링을 만들 수 있도록 하는 것입니다.

### Benchmark

In [11]:
from lightgbm import LGBMClassifier

model = LGBMClassifier()
%time model.fit(X_train, y_train)

CPU times: user 43.1 s, sys: 80 ms, total: 43.2 s
Wall time: 5.51 s

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
        learning_rate=0.1, max_depth=-1, min_child_samples=20,
        min_child_weight=0.001, min_split_gain=0.0, n_estimators=100,
        n_jobs=-1, num_leaves=31, objective=None, random_state=None,
        reg_alpha=0.0, reg_lambda=0.0, silent=True, subsample=1.0,
        subsample_for_bin=200000, subsample_freq=0)

## Hyperparameter Tuning

### Coarse Search

In [31]:
import numpy as np
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split
from datetime import datetime

random_state = 42

today = str(datetime.now())
filename = f"coarse-search {today}.csv"

num_loop = 100
n_estimators = 1000
early_stopping_rounds = 20

X_train_hold, X_valid_hold, y_train_hold, y_valid_hold = \
    train_test_split(X_train, y_train, test_size=0.2, random_state=random_state)

coarse_hyperparameters_list = []

for loop in range(num_loop):
    num_leaves =  np.random.randint(10, 200)
    min_child_samples = np.random.randint(2, 200)
    min_child_weight = np.random.uniform(0.1, 1.0)
    subsample = np.random.uniform(0.1, 1.0) 
    colsample_bytree = np.random.uniform(0.1, 1.0)
    learning_rate = 10 ** -np.random.uniform(low=1, high=10)
    reg_alpha = 10 ** -np.random.uniform(low=1, high=10)
    reg_lambda = 10 ** -np.random.uniform(low=1, high=15)
    drop_rate = np.random.uniform(0.1, 1.0)

    parameters ={'loop': loop,
                 'num_leaves': num_leaves, 
                 'min_child_samples': min_child_samples, 
                 'min_child_weight': min_child_weight,
                 'subsample': subsample, 
                 'colsample_bytree': colsample_bytree,
                 'reg_alpha': reg_alpha,
                 'reg_lambda': reg_lambda,
                 'n_estimators': n_estimators,
                 'learning_rate' : learning_rate,
                 'random_state': random_state}
    
    model = LGBMClassifier(**parameters)
    
    model.fit(X_train_hold, y_train_hold,
              eval_set=[(X_valid_hold, y_valid_hold)],
              verbose=0,
              early_stopping_rounds=early_stopping_rounds)
    
    parameters['n_estimators'] = model.best_iteration_
    parameters['score'] = model.best_score_['valid_0']['multi_logloss']
    
    print(f"{loop:2} best iteration = {parameters['n_estimators']}, Score = {parameters['score']:.6f}")
    
    coarse_hyperparameters_list.append(parameters)
    coarse_hyperparameters_data = pd.DataFrame(coarse_hyperparameters_list)
    coarse_hyperparameters_data = coarse_hyperparameters_data.sort_values(by="score")
    
    coarse_hyperparameters_data.to_csv(filename)
    
coarse_hyperparameters_data.head(10)

 0 best iteration = 1000, Score = 2.196743
 1 best iteration = 1000, Score = 2.196379
 2 best iteration = 1000, Score = 1.081634
 3 best iteration = 1000, Score = 2.197219
 4 best iteration = 1000, Score = 0.477961
 5 best iteration = 1000, Score = 2.194206
 6 best iteration = 1000, Score = 0.516604
 7 best iteration = 1000, Score = 0.758228
 8 best iteration = 1000, Score = 1.483054
 9 best iteration = 1000, Score = 2.177574
10 best iteration = 1000, Score = 2.197217
11 best iteration = 1000, Score = 2.197224
12 best iteration = 1000, Score = 2.197115
13 best iteration = 1000, Score = 2.197158
14 best iteration = 1000, Score = 2.195798
15 best iteration = 1000, Score = 2.197223
16 best iteration = 1000, Score = 2.197203
17 best iteration = 1000, Score = 2.195466
18 best iteration = 1000, Score = 1.821692
19 best iteration = 819, Score = 0.446217
20 best iteration = 1000, Score = 1.545430
21 best iteration = 877, Score = 0.443550
22 best iteration = 1000, Score = 2.197184
23 best iteration = 1000, Score = 0.497199
24 best iteration = 1000, Score = 1.665601
25 best iteration = 433, Score = 0.451068
26 best iteration = 1000, Score = 2.193970
27 best iteration = 1000, Score = 2.197214
28 best iteration = 1000, Score = 2.197218
29 best iteration = 1000, Score = 2.155542
30 best iteration = 1000, Score = 2.197203
31 best iteration = 784, Score = 0.441857
32 best iteration = 1000, Score = 2.195170
33 best iteration = 1000, Score = 2.197198
34 best iteration = 1000, Score = 2.197038
35 best iteration = 1000, Score = 0.663449
36 best iteration = 1000, Score = 2.197223
37 best iteration = 1000, Score = 2.196642
38 best iteration = 562, Score = 0.446240
39 best iteration = 1000, Score = 2.197219
40 best iteration = 1000, Score = 2.196923
41 best iteration = 1000, Score = 2.197172
42 best iteration = 1000, Score = 2.197223
43 best iteration = 1000, Score = 2.178561
44 best iteration = 1000, Score = 2.126151
45 best iteration = 1000, Score = 2.195275
46 best iteration = 1000, Score = 2.197224
47 best iteration = 1000, Score = 2.197210
48 best iteration = 1000, Score = 0.616197
49 best iteration = 1000, Score = 0.640397
50 best iteration = 1000, Score = 2.197221
51 best iteration = 1000, Score = 2.196881
52 best iteration = 1000, Score = 2.196934
53 best iteration = 1000, Score = 1.557061
54 best iteration = 1000, Score = 2.091800
55 best iteration = 1000, Score = 1.830303
56 best iteration = 1000, Score = 2.168351
57 best iteration = 1000, Score = 2.166803
58 best iteration = 1000, Score = 0.482362
59 best iteration = 202, Score = 0.448908
60 best iteration = 1000, Score = 0.473230
61 best iteration = 1000, Score = 0.449644
62 best iteration = 1000, Score = 2.197219
63 best iteration = 1000, Score = 2.197219
64 best iteration = 1000, Score = 2.195849
65 best iteration = 1000, Score = 2.197223
66 best iteration = 1000, Score = 0.465710
67 best iteration = 1000, Score = 2.197182
68 best iteration = 1000, Score = 2.197223
69 best iteration = 1000, Score = 1.552272
70 best iteration = 1000, Score = 2.196228
71 best iteration = 1000, Score = 2.196959
72 best iteration = 1000, Score = 2.094657
73 best iteration = 278, Score = 0.447852
74 best iteration = 1000, Score = 2.189576
75 best iteration = 1000, Score = 2.196996
76 best iteration = 1000, Score = 2.197221
77 best iteration = 1000, Score = 2.197224
78 best iteration = 1000, Score = 1.495764
79 best iteration = 1000, Score = 1.982423
80 best iteration = 1000, Score = 1.221676
81 best iteration = 1000, Score = 1.659190
82 best iteration = 1000, Score = 1.755844
83 best iteration = 1000, Score = 2.197210
84 best iteration = 1000, Score = 2.064825
85 best iteration = 1000, Score = 0.871471
86 best iteration = 1000, Score = 2.084413
87 best iteration = 1000, Score = 2.192474
88 best iteration = 1000, Score = 2.197215
89 best iteration = 1000, Score = 2.195736
90 best iteration = 1000, Score = 2.197045
91 best iteration = 1000, Score = 2.197222
92 best iteration = 1000, Score = 2.197196
93 best iteration = 1000, Score = 2.162422
94 best iteration = 1000, Score = 2.165561
95 best iteration = 1000, Score = 2.197206
96 best iteration = 1000, Score = 2.165242
97 best iteration = 1000, Score = 2.196557
98 best iteration = 1000, Score = 2.197123
99 best iteration = 1000, Score = 2.197219

,colsample_bytree,drop_rate,learning_rate,loop,min_child_samples,min_child_weight,n_estimators,num_leaves,random_state,reg_alpha,reg_lambda,score,subsample
31,0.373202,0.904818,0.025342,31,96,0.538617,784,119,42,4.416300e-06,1.340731e-06,0.441857,0.403113
21,0.785597,0.281873,0.015545,21,93,0.956188,877,159,42,1.114031e-07,7.396092e-06,0.443550,0.710690
19,0.776270,0.991978,0.018108,19,49,0.623333,819,123,42,3.494822e-02,2.923814e-08,0.446217,0.386789
38,0.714494,0.585329,0.022401,38,35,0.611381,562,170,42,3.282686e-04,9.863668e-10,0.446240,0.560805
73,0.716123,0.347594,0.059241,73,68,0.627645,278,97,42,5.290732e-04,9.758883e-10,0.447852,0.283384
59,0.869641,0.805620,0.081132,59,195,0.565270,202,198,42,9.409882e-08,4.891885e-02,0.448908,0.938238
61,0.311071,0.639523,0.018243,61,7,0.303250,1000,99,42,7.984952e-03,4.318499e-10,0.449644,0.783382
25,0.311141,0.153912,0.070638,25,52,0.327990,433,62,42,9.568305e-04,2.209106e-08,0.451068,0.403204
66,0.567556,0.642802,0.051954,66,138,0.199037,1000,20,42,6.632116e-08,4.712412e-08,0.465710,0.831552
60,0.420979,0.718365,0.016267,60,50,0.364272,1000,38,42,1.089370e-09,3.098726e-09,0.473230,0.258627















### Finer Search

In [ ]:
import numpy as np
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold, cross_val_score
from datetime import datetime

random_state = 42

today = str(datetime.now())
filename = f"finer-search {today}.csv"

num_loop = 100

kf = StratifiedKFold(n_splits=5, random_state=random_state, shuffle=False)

finer_hyperparameters_list = []

for loop in range(num_loop):
    n_estimators = np.random.randint(500, 3000)
    num_leaves =  np.random.randint(100, 200)
    min_child_samples = np.random.randint(50, 100)
    min_child_weight = np.random.uniform(0.5, 0.8) 
    subsample = np.random.uniform(0.4, 0.8) 
    colsample_bytree = np.random.uniform(0.4, 0.7)
    reg_alpha = 10 ** -np.random.uniform(low=3, high=8)
    reg_lambda = 10 ** -np.random.uniform(low=5, high=15)
    learning_rate = 10 ** -np.random.uniform(low=0.9, high=3)

    parameters ={'loop': loop,
                 'n_estimators': n_estimators,
                 'num_leaves': num_leaves, 
                 'min_child_samples': min_child_samples, 
                 'min_child_weight': min_child_weight,
                 'subsample': subsample, 
                 'colsample_bytree': colsample_bytree,
                 'reg_alpha': reg_alpha,
                 'reg_lambda': reg_lambda,
                 'n_estimators': n_estimators,
                 'learning_rate' : learning_rate,
                 'random_state': random_state}

    fit_params = {'verbose':0}
    
    model = LGBMClassifier(**parameters)
    
    score = cross_val_score(model, X_train, y_train, cv=kf,
                            fit_params=fit_params, scoring='neg_log_loss').mean()
    score = -1.0 * score
    
    parameters['score'] = score
    
    print(f"{loop:2} best iteration = {parameters['n_estimators']}, Score = {parameters['score']:.6f}")
    
    finer_hyperparameters_list.append(parameters)
    finer_hyperparameters_data = pd.DataFrame(finer_hyperparameters_list)
    finer_hyperparameters_data = finer_hyperparameters_data.sort_values(by="score")
    
    finer_hyperparameters_data.to_csv(filename)
    
finer_hyperparameters_data.head(10)

 0 best iteration = 2168, Score = 0.454663
 1 best iteration = 4123, Score = 0.462424
 2 best iteration = 1831, Score = 0.573118
 3 best iteration = 4945, Score = 0.671151
 4 best iteration = 4973, Score = 0.473048
 5 best iteration = 920, Score = 0.488398
 6 best iteration = 1338, Score = 0.805913
 7 best iteration = 6100, Score = 0.757913
 8 best iteration = 3920, Score = 0.729437
 9 best iteration = 5191, Score = 0.449426
10 best iteration = 6937, Score = 0.656364
11 best iteration = 4296, Score = 0.491531
12 best iteration = 761, Score = 0.466770
13 best iteration = 1581, Score = 0.541826
14 best iteration = 5188, Score = 0.666671
15 best iteration = 2912, Score = 0.502775
16 best iteration = 6072, Score = 0.454213
17 best iteration = 5218, Score = 0.552259
18 best iteration = 1912, Score = 0.675896
19 best iteration = 6865, Score = 0.463355
20 best iteration = 2785, Score = 0.665066
21 best iteration = 1870, Score = 0.592473
22 best iteration = 722, Score = 0.705681

### Evaluate

In [12]:
from lightgbm import LGBMClassifier

model = LGBMClassifier(learning_rate=6.991383e-03,
                       n_estimators=2486,
                       num_leaves=218,
                       max_bin=356,
                       min_child_samples=115,
                       min_child_weight=2.668823,
                       subsample=0.630275,
                       colsample_bytree=0.480936,
                       reg_alpha=1.058085e-06,
                       reg_lambda=6.960670e-09,
                       random_state=42)
model

LGBMClassifier(boosting_type='gbdt', class_weight=None,
        colsample_bytree=0.480936, learning_rate=0.006991383, max_bin=356,
        max_depth=-1, min_child_samples=115, min_child_weight=2.668823,
        min_split_gain=0.0, n_estimators=2486, n_jobs=-1, num_leaves=218,
        objective=None, random_state=42, reg_alpha=1.058085e-06,
        reg_lambda=6.96067e-09, silent=True, subsample=0.630275,
        subsample_for_bin=200000, subsample_freq=0)

In [ ]:
from sklearn.model_selection import StratifiedKFold, cross_val_score

kf = StratifiedKFold(n_splits=5, random_state=random_state, shuffle=False)

fit_params = {'verbose': 0}

score = cross_val_score(model, X_train, y_train, cv=kf,
                        fit_params=fit_params, scoring='neg_log_loss').mean()
score = -1.0 * score

print(f"Score = {score:.5f}")

### Predict

In [13]:
model.fit(X_train, y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None,
        colsample_bytree=0.480936, learning_rate=0.006991383, max_bin=356,
        max_depth=-1, min_child_samples=115, min_child_weight=2.668823,
        min_split_gain=0.0, n_estimators=2486, n_jobs=-1, num_leaves=218,
        objective=None, random_state=42, reg_alpha=1.058085e-06,
        reg_lambda=6.96067e-09, silent=True, subsample=0.630275,
        subsample_for_bin=200000, subsample_freq=0)

In [14]:
predictions = model.predict_proba(X_test)

print(predictions.shape)
predictions

(144368, 9)

array([[  2.24644254e-04,   9.75604148e-02,   1.30055601e-01, ...,
          2.64305291e-03,   2.57551850e-04,   5.71026120e-05],
       [  2.71608033e-03,   4.31660559e-03,   1.36982284e-03, ...,
          9.61980522e-04,   6.70048109e-01,   7.40723241e-04],
       [  4.83850053e-06,   1.93566029e-05,   1.01470945e-05, ...,
          7.11435731e-06,   2.04477593e-04,   6.33753804e-06],
       ...,
       [  3.12497467e-04,   6.37192885e-01,   2.96945568e-01, ...,
          1.96801725e-03,   2.54512526e-04,   9.07160860e-05],
       [  2.42389136e-04,   3.53553356e-01,   2.33072622e-02, ...,
          7.09474773e-04,   6.02472901e-05,   6.43027879e-05],
       [  1.62822189e-04,   6.07391326e-01,   3.49726203e-01, ...,
          1.86872494e-02,   1.15392596e-04,   7.49704953e-05]])

## Submit

In [15]:
submission_sample = pd.read_csv("data/sampleSubmission.csv", index_col="id")

print(submission_sample.shape)
submission_sample.head()

(144368, 9)

,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
id,,,,,,,,,
1,1,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0

In [16]:
submission = pd.DataFrame(predictions, index=submission_sample.index, columns=model.classes_)

print(submission.shape)
submission.head()

(144368, 9)

,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
id,,,,,,,,,
1,0.000225,0.097560,0.130056,0.768985,0.000056,0.000160,0.002643,0.000258,0.000057
2,0.002716,0.004317,0.001370,0.000374,0.000519,0.318954,0.000962,0.670048,0.000741
3,0.000005,0.000019,0.000010,0.000007,0.000002,0.999739,0.000007,0.000204,0.000006
4,0.000150,0.636784,0.359679,0.002419,0.000055,0.000074,0.000173,0.000131,0.000536
5,0.163521,0.000997,0.001311,0.000385,0.000495,0.002239,0.002515,0.048232,0.780306

In [18]:
submission.to_csv("otto-submission.csv")